@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        transform: scale3d(.97, .97, .97);
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 0.8;
        transform: none;
    }
}

@keyframes rollInLeft {
    0% {
        -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -webkit-transform: translateX(-400px) rotate(445deg);
        transform: translateX(-400px) rotate(445deg);
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    50% {
        -webkit-transform: translateX(20px) rotate(20deg);
        transform: translateX(20px) rotate(20deg);
    }
    100% {
        -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        -webkit-transform: translateX(0) rotate(-20deg);
        transform: translateX(0) rotate(-20deg);
    }
}

@keyframes popInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-200px, 0, 0) scale3d(0.1, 0.1, 0.1) rotate(-20deg);
        transform: translate3d(-200px, 0, 0) scale3d(0.1, 0.1, 0.1) rotate(-20deg);
    }
    40% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) scale3d(1.08, 1.08, 1.08) rotate(-20deg);
        transform: translate3d(0, 0, 0) scale3d(1.08, 1.08, 1.08) rotate(-20deg);
        -webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
        animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    }
    60% {
        -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
        -webkit-transform: scale3d(1, 1, 1) rotate(-20deg);
        transform: scale3d(1, 1, 1) rotate(-20deg);
    }
    80% {
        -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1) rotate(-20deg);
        -webkit-transform: scale3d(1.03, 1.03, 1.03) rotate(-20deg);
        transform: scale3d(1.03, 1.03, 1.03) rotate(-20deg);
    }
    100% {
        -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -webkit-transform: scale3d(1, 1, 1) rotate(-20deg);
        transform: scale3d(1, 1, 1) rotate(-20deg);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes swing {
    20% {
        transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
        transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
        transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
        transform: rotate3d(0, 0, 1, -5deg);
    }
    to {
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

@keyframes flash {
    from,
    50%,
    to {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

@keyframes jumpInLeft {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.5, 0.5, 0.5) rotate(-90deg);
        transform: scale3d(0.5, 0.5, 0.5) rotate(-90deg);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale3d(1.2, 1.2, 1.2) rotate(10deg);
        transform: scale3d(1.2, 1.2, 1.2) rotate(10deg);
    }
    70% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate(-5deg);
        transform: scale3d(0.9, 0.9, 0.9) rotate(-5deg);
    }
    90% {
        -webkit-transform: scale3d(1, 1, 1) rotate(0deg);
        transform: scale3d(1, 1, 1) rotate(0deg);
    }
}

@keyframes jumpInRight {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.5, 0.5, 0.5) rotate(90deg);
        transform: scale3d(0.5, 0.5, 0.5) rotate(90deg);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale3d(1.2, 1.2, 1.2) rotate(-10deg);
        transform: scale3d(1.2, 1.2, 1.2) rotate(-10deg);
    }
    70% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate(5deg);
        transform: scale3d(0.9, 0.9, 0.9) rotate(5deg);
    }
    90% {
        -webkit-transform: scale3d(1, 1, 1) rotate(0deg);
        transform: scale3d(1, 1, 1) rotate(0deg);
    }
}

@keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0, 0, 0);
    }
    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -30px, 0);
    }
    70% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -15px, 0);
    }
    90% {
        transform: translate3d(0, -4px, 0);
    }
}